@font-face {
    font-family: 'Norse-Bold';
    src: url('./Norse-Bold.otf') format('opentype');
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

a {
    color: inherit;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.logo-container {
    position: relative;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    width: 33vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    position: absolute;
    top: 150px;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 15px 0 15px 0;
}

.img-container > img {
    width: 85px;
}

.img-container > h1 {
    color: white;
    font-size: 80px;
    font-family: 'Norse-Bold';
}

.main p {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 14px;
}

.form-container {
    width: 67vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

.text {
    font-size: 18px;
    font-weight: bold;
    padding: 2em;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 15vw;
    gap: 3px;
}

input {
    border: solid 1px #E5E7EB;
    outline: none;
    border-radius: 3px;
    padding: 1px 3px;
}

input:focus {
    border: solid 1px blue;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

input:invalid {
    border: solid 1px red;
}

.group {
    display: flex;
    gap: 5em;
    font-size: 10px;
    font-weight: bold;
    color: rgb(56, 56, 56);
    letter-spacing: 1px;
    margin-bottom: 15px;
}

fieldset {
    padding: 30px;
    border: solid 2px black;
    border-left: 0px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

legend {
    font-size: 25px;
    font-weight: bold;
}

.btns {
    padding: 2em;    
}

.btns > button {
    padding: 0.5em 3em;
    border-radius: 8px;
    background-color: #596D48;
    color: white;
    border: solid 1px #596D48;
    box-shadow: 1px 1px 3px #596d48a2;
    font-size: 15px;
    margin-bottom: 1em;
    font-weight: bold;
}

.btns a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}